#include "Window.h"

MYICON ICON MyIcon.ico // MyIcon navachi file mi ICON navachya resource madhe convert karat ahe, aani tayar honarya resource la mi MYICON nav detoy
IDC_BLACK_CURSOR CURSOR MyCursor.cur
